@font-face {
  font-family: Sarasa;
  src: url('/fonts/Sarasa.woff2');
  font-weight: normal;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: Sarasa;
}

body {
  background-color: var(--color-bg-1);
}

body[arco-theme='dark'] .leaflet-layer {
  filter: grayscale(100) invert(100);
}

.leaflet-div-icon {
  background: transparent !important;
  border: unset !important;
}

#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.marker-cluster div {
  font-size: 16px !important;
  font-weight: bold !important;
  color: #fff !important;
}

.app-loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #303133;
}
.app-loading-title {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
.app-loading-subtitle {
  margin-top: 10px;
  font-size: 12px;
  color: #fff;
}
